.cardInCart {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 20px;

  &:hover {
    box-shadow: 0px 5px 10px var(--color-shadow);
    transition: 0.5s;
    transform: translateY(-5px);
  }

  &:not(:hover) {
    transition: 0.5s;
  }

  img {
    width: 70px;
    height: 70px;
    padding-right: 21px;
  }

  &__align {
    display: flex;
    width: 100%;
    flex-direction: column;

    h2 {
      margin: 0;
      padding-bottom: 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--color);
    }

    .cardInCart__price {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: var(--color);
    }
  }

  button {
    opacity: 0.5;

    .cardInCart__img {
      width: 32px;
      height: 32px;
      padding: 0;
      padding-left: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
