.favorite {
  margin: 45px 60px 45px 60px;
  flex-grow: 1;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: var(--color);
  }

  section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 15px;
    justify-content: center;
  }
}
