.infoMessage {
  display: flex;
  flex-direction: column;
  width: 290px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 22.5px 0 22.5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  grid-column: 1/-1;
  align-self: center;
  flex-grow: 1;
  justify-content: center;

  &__img {
    width: 50px;
    align-self: center;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 70px;
    opacity: 0.4;
  }

  .infoMessage__button-back {
    width: 100%;
    display: block;
    position: relative;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      left: 20px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
      rotate: 180deg;
    }
  }

  &__link {
    text-decoration: none;
  }
}

@media (max-width: 460px) {
  .infoMessage {
    width: 260px;
  }
}
