.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-border);

  &__wrapper-left {
    display: flex;
    justify-content: space-between;
    margin: 45px 0 45px 60px;
  }

  &__logo {
    width: 60px;
    margin-right: 16px;

    &:hover {
      transition: 0.5s;
      transform: scale(1.15);
    }

    &:not(:hover) {
      transition: 1s;
    }
  }

  &__align {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 7px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #1990dec2, #ff0c00, #faff4073);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 13.3px;
    line-height: 17px;
    color: #9d9d9d;
  }

  &__wrapper-right {
    display: flex;
    align-items: center;
    margin-right: 60px;
    gap: 30px;
  }

  &__icon {
    width: 30px;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
  }

  .header__button-like {
    position: relative;

    span {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #5c5c5c;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header__wrapper-left {
    margin: 20px 0 20px 0;
    justify-content: center;
  }

  .header__wrapper-right {
    margin-right: 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
