body {
  margin: 0;
  display: flow-root;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-page);
  --background-page: #e7f6ff;
  --background-color: #fff;
  --background-card: transparent;
  --background-drawer: #fff;
  --color: #000;
  --color-border: #f3f3f3;
  --color-shadow: rgba(0, 0, 0, 0.1);
}

.dark {
  --background-page: #0d0d0ef6;
  --background-color: #1b1b1e;
  --background-card: #f3f3f343;
  --background-drawer: #545158;
  --color: #fff;
  --color-border: #f3f3f343;
  --color-shadow: rgba(0, 0, 0, 0.7);
}

.page {
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1080px;
  background-color: var(--background-color);
  color: var(--color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-direction: row;
  align-items: center;

  &:hover {
    transition: 1s;
    transform: scale(1.05);
  }

  &:not(:hover) {
    transition: 1s;
  }

  &__delete-img {
    width: 18px;
    height: 18px;
  }
}
