body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.page {
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1080px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-direction: row;
  align-items: center;

  &:hover {
    transition: 1s;
    transform: scale(1.05);
  }

  &:not(:hover) {
    transition: 1s;
  }

  &__delete-img {
    width: 18px;
    height: 18px;
  }
}


